<mat-list *ngFor="let round of rounds; let idx = index">
    <mat-card>
        <mat-card-header>
            <mat-card-title><span *ngIf="idx === 0">🥇</span><span *ngIf="idx === 1">🥈</span><span
                    *ngIf="idx === 2">🥉</span><span *ngIf="idx > 2">{{ idx + 1 }}.</span> {{ round.player.name }} :
                {{ round.total }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button [routerLink]="['/partie', round.gameId]">
                Voir la partie
                <mat-icon>skip_next</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</mat-list>