<main>
    <div>
        <h1>Règles</h1>
        <p>
            Chaque joueur lance les dés lorsque vient son tour. Son but est, à l'aide
            des cinq dés, de réaliser une figure (5 dés identiques, un brelan, un
            carré...). Pour réaliser cette figure, il a le droit à trois jets de dés
            par tour et il est à chaque jet libre de les relancer tous ou juste ceux
            de son choix.
        </p>
        <h2>Partie supérieure</h2>
        <ul>
            <li>
                Partie de 1 : les joueurs doivent obtenir le plus grand nombre de dés
                avec la face 1 / ils marquent 1 fois le nombre de dés de valeur 1
            </li>
            <li>
                Partie de 2 : les joueurs doivent obtenir le plus grand nombre de dés
                avec la face 2 / ils marquent 2 fois le nombre de dés de valeur 2
            </li>
            <li>
                Partie de 3 : les joueurs doivent obtenir le plus grand nombre de dés
                avec la face 3 / ils marquent 3 fois le nombre de dés de valeur 3
            </li>
            <li>
                Partie de 4 : les joueurs doivent obtenir le plus grand nombre de dés
                avec la face 4 / ils marquent 4 fois le nombre de dés de valeur 4
            </li>
            <li>
                Partie de 5 : les joueurs doivent obtenir le plus grand nombre de dés
                avec la face 5 / ils marquent 5 fois le nombre de dés de valeur 5
            </li>
            <li>
                Partie de 6 : les joueurs doivent obtenir le plus grand nombre de dés
                avec la face 6 / ils marquent 6 fois le nombre de dés de valeur 6
            </li>
        </ul>
        <p>
            Ils obtiennent un bonus de 35 points si le total de la partie supérieure
            est égal ou supérieur à 63 points.
        </p>
        <h2>Partie inférieure</h2>
        <ul>
            <li>
                Brelan : les joueurs doivent obtenir 3 dés de même valeur / ils marquent
                la somme de la valeur des dés
            </li>
            <li>
                Carré : les joueurs doivent obtenir 4 dés de même valeur / ils marquent
                la somme de la valeur des dés
            </li>
            <li>
                Full : les joueurs doivent obtenir 3 dés de même valeur et 2 dés de même
                valeur – (brelan + paire) / ils marquent 25 points
            </li>
            <li>
                Petite suite : les joueurs doivent obtenir 4 dés qui se suivent (1-2-3-4
                / 2-3-4-5 / 3-4-5-6) / ils marquent 15 points
            </li>
            <li>
                Grande suite : les joueurs doivent obtenir 5 dés qui se suivent
                (1-2-3-4-5 / 2-3-4-5-6) / ils marquent 30 points
            </li>
            <li>
                Yams : les joueurs doivent obtenir 5 dés de même valeur / ils marquent
                50 points
            </li>
            <li>
                Chance : les joueurs doivent obtenir le plus grand nombre de points /
                ils marquent la somme de la valeur des dés
            </li>
        </ul>
        <p>
            En fonction du total (bonus inclus) de la partie supérieure et de la partie
            inférieure, le vainqueur est désigné.
        </p>
    </div>
</main>