main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: both;
    overflow: auto;
    margin: 10px;
}

main div {
    resize: both;
    overflow: auto;
}

main div ul {
    list-style: none;
}