<mat-spinner *ngIf="game === undefined"></mat-spinner>
<mat-progress-bar *ngIf="game != undefined" mode="determinate" [value]="getGameProgess()"></mat-progress-bar>
<div>
    <a *ngIf="game && !game.endTime && game.previousGameId" mat-button [routerLink]="['/partie', game.previousGameId]">
        <mat-icon>skip_previous</mat-icon>
        Partie précédente
    </a>
</div>
<mat-card *ngIf="game && game.endTime">
    <mat-card-header>
        <!-- https://github.com/urish/ngx-moment -->
        <mat-card-title>Partie du {{ game.startTime | date: "medium" }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let round of rounds | roundSort; let idx = index">
            <div class="vertical-align">
                <span><span *ngIf="idx === 0">🥇</span><span *ngIf="idx === 1">🥈</span><span
                        *ngIf="idx === 2">🥉</span><span *ngIf="idx > 2">{{ idx + 1 }}.</span> {{ round.player.name }}:
                    {{ round.total }}</span>
            </div>
        </div>
        <p>{{game.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <a *ngIf="game.previousGameId" mat-button [routerLink]="['/partie', game.previousGameId]">
            <mat-icon>skip_previous</mat-icon>
            Partie précédente
        </a>
        <button *ngIf="!game.nextGameId" mat-button (click)="replay()">
            Rejouer <mat-icon>replay</mat-icon>
        </button>
        <a *ngIf="game.nextGameId" mat-button [routerLink]="['/partie', game.nextGameId]">
            Partie suivante
            <mat-icon>skip_next</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>
<table *ngIf="game != undefined">
    <thead>
        <tr>
            <th>
                <button *ngIf="game && game.endTime == undefined" mat-icon-button aria-label="ajouter"
                    [routerLink]="['joueurs']">
                    <mat-icon>person_add</mat-icon>
                </button>
                <button *ngIf="game && historyGames.length > 0" mat-icon-button [matMenuTriggerFor]="history"
                    aria-label="Afficher l'historique">
                    <mat-icon>history</mat-icon>
                </button>
                <mat-menu #history="matMenu" yPosition="below">
                    <ng-container *ngFor="let historyGame of historyGames">
                        <p mat-menu-item>{{ historyGame.text }}</p>
                    </ng-container>
                </mat-menu>
            </th>
            <th *ngFor="let round of rounds">{{ round.player.name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of upperCategories">
            <th>
                <span [matTooltip]="category.scoresDescription" matTooltipPosition="right">{{ category.name }}</span>
            </th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button (click)="openDialog(round, category.name)" [class]="
            isPlayedUpperCategories(round, category.name) ? 'played' : 'to-play'
          ">
                    {{ getUpperSectionCategories(round, category.name) }}
                </button>
            </td>
        </tr>
        <tr>
            <th>Total des points</th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button disabled>
                    {{ getPlayerScoresUpperCategories(round.player) }}
                </button>
            </td>
        </tr>
        <tr>
            <th>
                <span [matTooltip]="rounds[0]? rounds[0].bonusScores : ''" matTooltipPosition="right">Bonus</span>
            </th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button disabled>
                    {{ getPlayerBonus(round.player) }}
                </button>
            </td>
        </tr>
        <tr>
            <th>Total partie supérieure</th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button disabled>
                    {{ getPlayerUpperScore(round) }}
                </button>
            </td>
        </tr>

        <tr *ngFor="let category of lowerCategories">
            <th>
                <span [matTooltip]="category.scoresDescription" matTooltipPosition="right">{{ category.name }}</span>
            </th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button (click)="openDialog(round, category.name)" [class]="
            isPlayedLowerCategories(round, category.name) ? 'played' : 'to-play'
          ">
                    {{ getLowerSectionCategories(round, category.name) }}
                </button>
            </td>
        </tr>

        <tr>
            <th>Total partie inférieure</th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button disabled>
                    {{ getPlayerLowerScore(round) }}
                </button>
            </td>
        </tr>
        <tr>
            <th>
                <span matTooltip="Total de la partie supérieure et inférieure" matTooltipPosition="right">Total</span>
            </th>
            <td *ngFor="let round of rounds">
                <button mat-stroked-button disabled>
                    {{ getTotalRound(round) }}
                </button>
            </td>
        </tr>
    </tbody>
</table>