table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.mat-stroked-button {
    line-height: 26px;
}

button.played {
    /* background-color: darkred; */
    border-color: darkred;
}

button.to-play {
    border-color: greenyellow;
}

.vertical-align {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

button.mat-mdc-outlined-button.mat-mdc-button-base {
    height: 30px;
}