<mat-card>
    <mat-card-header>
        <mat-card-title>Avant de commencer</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-form-field class="full-width">
            <mat-label>On joue pourquoi ?</mat-label>
            <textarea matInput name="description" placeholder="Le perdant fait la vaisselle! 🧽🍽️"
                [(ngModel)]="game.description"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Avec qui ?</mat-label>
            <input matInput name="newPlayerName" [(ngModel)]="newPlayerName" (keyup.enter)="onNewPlayerNameSubmit()" />
            <button *ngIf="newPlayerName" matSuffix mat-icon-button aria-label="clean" (click)="newPlayerName = ''"
                type="button">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button matSuffix aria-label="ajouter" (click)="onNewPlayerNameSubmit()">
                <mat-icon>person_add</mat-icon>
            </button>
        </mat-form-field>
        <p *ngIf="newPlayerNameAlreadyExists" class="error-message">
            Ce nom est déjà utilisé banane 🍌!
        </p>
        <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-list-item *ngFor="let player of players; let idx = index" cdkDrag>
                <div matLine class="player-line">
                    <button mat-icon-button aria-label="toucher déposer" cdkDragHandle>
                        <mat-icon>drag_indicator</mat-icon>
                    </button>
                    <span>{{ player.name }}</span>
                    <button mat-icon-button aria-label="supprimer" (click)="removePlayer(player)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="showBackToGame" [routerLink]="['/partie', game.id]">
            Annuler
        </button>
        <button mat-raised-button [disabled]="players.length === 0" (click)="letsgo()">
            Let's go!<mat-icon>whatshot</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>