<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role='dialog' mode='over' (keydown.escape)="drawer.close()"
    dialogClose>
    <mat-card (click)="drawer.close()">
      <mat-card-content>
        <a routerLink="/" (click)="drawer.close()"><img src="./assets/icons/icon-72x72.png" alt="Accueil"></a>
        <p>{{currentApplicationVersion}}</p>
      </mat-card-content>
    </mat-card>
    <mat-nav-list>
      <a mat-list-item routerLink="/nouvelle-partie" (click)="drawer.close()">Nouvelle partie</a>
      <a mat-list-item routerLink="/meilleurs-lancers" (click)="drawer.close()">Meilleurs lancers</a>
      <a mat-list-item routerLink="/pires-lancers" (click)="drawer.close()">Pires lancers</a>
      <a mat-list-item routerLink="/regles" (click)="drawer.close()">Règles</a>
      <a mat-list-item href="https://gitlab.com/vichak/yam-s-score" target="_blank">Code source</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Yam's score</span>
      <span class="spacer"></span>
      <button *ngIf="isScreenWakeLockSupported && !isScreenWakeLocked" mat-icon-button
        aria-label="Verouiller l'écran actif" (click)="requestWakeLock()">
        <mat-icon>stay_current_portrait</mat-icon>
      </button>
      <button *ngIf="isScreenWakeLockSupported && isScreenWakeLocked" mat-icon-button
        aria-label="Déverrouiller l'écran actif" (click)="releaseWakeLock()">
        <mat-icon>phonelink_lock</mat-icon>
      </button>
      <button *ngIf="isNavigationShare" mat-icon-button aria-label="Partager" (click)="navigatorShare()">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>