<main>
    <div>
        <ul>
            <li>
                <a routerLink="/nouvelle-partie" mat-raised-button color="primary">Nouvelle partie</a>
            </li>
        </ul>
    </div>
</main>