<h1 mat-dialog-title>{{data.round.player.name}}, tu as fait combien dans {{ data.category.possibleValues &&
    data.category.possibleValues.length > 2 ? 'les': 'le'}} {{data.category.name | lowercase }}?</h1>
<div mat-dialog-content>
    <div>
        <button mat-button *ngFor="let item of data.category.possibleValues" (click)="onPlayed(item)">{{item}}</button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button *ngIf="data.category.isPlayed" mat-button (click)="undo()">Effacer</button>
    <button mat-button (click)="returnCategory()">Yeah!</button>
</div>